build/
build-*/
out/
*.pyc
*.swp
*~
compile_commands.json
.ycm_extra_conf.py
cscope.*
third_party/re2/
third_party/googletest/
third_party/abseil-cpp/
third_party/abseil_cpp/
bazel-*
MODULE.bazel.lock
.DS_Store
